# InfluxDB Config
DB_HOST=http://influxdb.com:8086
TOKEN=12345AaBbCc
ORG="CONFIGURE ORG"
BUCKET=ConfigureBucket
HOSTNAME='config hostname' # Name for this machine

# Slack Config
WEBHOOK_URL=https://hooks.slack.com/services/abc123/abc123/abc123
SLACK_BOT_TOKEN=

# Shinobi Config
SHINOBI_TOKEN=

# Open Weather Config
OPEN_WEATHER_API_KEY=12345ABCDE
ZIP_CODE="80303"

# Timezone Config
TZ=America/Denver
